.worldmap-display .country {
    fill: #bdc3c7;
    /* #ccc */
    stroke: #fff;
    stroke-width: .5px;
}
.worldmap-display .graticule {
    fill: none;
    stroke-opacity: .3;
    stroke-width: .5px;
}

.worldmap-display .tooltip {
    position: absolute;
    text-align: center;
    width: 350px;
    padding: 2px;
    font: 12px sans-serif;
    background: black;
    /* lightsteelblue */
    color: white;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}
.worldmap-display .tooltip .country-name {
    font-size: 20px;
}
.worldmap-display .tooltip .country-detail {
    font-size: 25px;
    line-height: 15px;
    margin: 0 20px 23px;
}

.worldmap-display .worldmap-box {
    font-size: 15px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    padding: 14px 18px;
    border-radius: 10px;
    display: inline-block;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
}

.worldmap-display .worldmap-global {
    background-color: rgb(120, 198, 121);
    white-space: nowrap;
}

.worldmap-display .worldmap-selector {
    margin-bottom: 5px;
    background: url(arrow.png) no-repeat right 20px center;
    background-color: #428BCA;
}
