.worldmap-display .country {
    fill: #bdc3c7;
    /* #ccc */
    stroke: #fff;
    stroke-width: .5px;
}
.worldmap-display .graticule {
    fill: none;
    stroke-opacity: .3;
    stroke-width: .5px;
}

.worldmap-display .tooltip {
    position: absolute;
    text-align: center;
    width: 350px;
    padding: 2px;
    font: 12px sans-serif;
    background: black;
    /* lightsteelblue */
    color: white;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}
.worldmap-display .tooltip .country-name {
    font-size: 20px;
}
.worldmap-display .tooltip .country-detail {
    font-size: 25px;
    line-height: 15px;
    margin: 0 20px 23px;
}

.worldmap-display .worldmap-global {
    font: 27px sans-serif;
    display: inline-block;
    vertical-align: middle;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding-left: 10px;
}

@media (max-width: 800px) {
  .worldmap-display .worldmap-global {
    display: block;
    width: 100%;
    max-width: 500px;
    text-align: center;
    font-size: 25px;
    padding-left: 0;
  }
}
