.worldmap-display {
    font-family:  "Lucida Grande", Arial, sans-serif;
}

.worldmap-display .country {
    fill: #bdc3c7;
    /* #ccc */
    stroke: #fff;
    stroke-width: .5px;
}

.worldmap-display .graticule {
    fill: none;
    stroke-opacity: .3;
    stroke-width: .5px;
}

.worldmap-display .tooltip {
    position: absolute;
    text-align: center;
    width: 350px;
    padding: 2px;
    font: 12px sans-serif;
    background: black;
    /* lightsteelblue */
    color: white;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}
.worldmap-display .tooltip .country-name {
    font-size: 20px;
}
.worldmap-display .tooltip .country-detail {
    font-size: 25px;
    line-height: 15px;
    margin: 0 20px 23px;
}

.worldmap-display .worldmap-box {
    font-size: 15px;
    color: white;
    padding: 14px 18px;
    border-radius: 10px;
    display: inline-block;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    margin: 5px;
    padding: 0.4em 1em;
    line-height: 1.4;
    display: block;
    float: left;
}

.worldmap-display .worldmap-global {
    background-color: rgb(120, 198, 121);
    border: 1px solid rgb(120, 198, 121);
    white-space: nowrap;
}

.ui-selectmenu-menu {
    width: 498px;
}

.ui-selectmenu-button {
    margin: 5px;
    width: 498px;
    display: block;
    float: left;
}

.ui-selectmenu-button span.ui-selectmenu-text {
    white-space: normal;
}

.worldmap-country-view {
    display: none;
}

.worldmap-country-view .back {
    cursor: pointer;
    background-color: #428BCA;
    width: auto;
    float: left;
    display: block;
    margin-right: 10px;
}

.worldmap-country-view .country-title {
    background-color: rgb(120, 198, 121);
    white-space: nowrap;
    overflow: hidden;
    width: auto;
    max-width: 400px;
    display: block;
}

.country-stats {
    margin: 0 10px 10px 10px;
    min-width: 480px;
    border-collapse: collapse;
    clear: both;
}

.country-stats td {
    padding: 10px;
    font-size: 15px;
}

td.stat-name {
    font-weight: bold;
    padding-left: 0;
}
td.stat-global {
    font-size: 13px;
    color: grey;
}

.custom-html {
    padding: 10px;
    font-size: 15px;
}

.worldmap-table-view-button {
    background-color: rgba(66, 139, 202, 0.8);
    color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid rgba(66, 139, 202, 0.8);
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

.worldmap-table-view-button:hover {
    background-color: rgba(66, 139, 202, 1);
}

.worldmap-table{
    margin-top: 20px;
    text-align: center;
    margin-left: 10px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    width: 500px;
}

.worldmap-table-view.closed {
    margin-top: -999999px;
    margin-bottom: -999999px;
}

.worldmap-table thead tr {
    cursor: pointer;
    font-size: 15px;
    background-color: rgba(0, 104, 55, 0.8);
    color: white;
}

.worldmap-table thead tr th {
    padding-top: 15px;
    padding-bottom: 15px;
}

.worldmap-table tbody tr:nth-child(odd) {
    background-color: rgba(135, 89, 182, 0.4);
}

.worldmap-table tbody tr:nth-child(even) {
    background-color: rgba(120, 189, 121, 0.3);
}

.worldmap-table tbody tr td {
    padding: 10px;
    font-size: 12px;
}
